<div class="container">
  <div class="row">

        <div class='col-md-3'>
          <div class='row '>
            <div class='col-md-12 profileSection'>
              <h4>Hello, <%= @user.first_name %>!</h4>
              <img src='<%= @user.picture %>'>
                <ul>
                  <li><%= link_to "My Libraries", user_libraries_path(@user) %></li>
                  <li><%= link_to "Edit Account", edit_user_path(@user) %></li>
                </ul>
                <div class='row'>
                  <h5>Recently Added Links</h5>
                  <% @user.links.order("created_at DESC").each do |link| %>
                  <div class='col-md-12 userRecentLinks' id='<%= link.id %>'>
                    <div class='row'>
                      <div class='col-md-3'>
                        <a href="<%= link.url %>"><img src="<%= link.picture %>" width="60px" height='60px'></a>
                      </div>
                        <div class='col-md-9'>
                          <p><%= link.title.capitalize %></p>
                        </div>
                      </div>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>


      <div class='col-md-8 col-md-offset-1'>
        <h3>My Top Libraries</h3>
        <div class='row'>
          <% @user.libraries.each do |library| %>
            <div class='col-md-4 userTopLibraries' id='<%= library.id %>'>
              <a href="users/<%= @user.id %>/libraries/<%= library.id %>">
              <h4><%= library.title %></h4>
              <p>"<%= library.description %>"</p>
              <p>Number of Links: <%= library.links.size %></p></a>
              <div id='responseMessage'></div>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>





<%# Library.select("private, false") do |library| %>
                <%#= library.title %>





