<div class="container">
  <div class="row">

        <div class='col-md-2'>
          <div class='row '>
            <div class='col-md-12 profileSection'>
              <h4>Hello, <%= @user.first_name %>!</h4>
              <img src='<%= @user.picture %>'>
                <ul>
                  <li><%= link_to "My Libraries", user_libraries_path(@user) %></li>
                  <li><%= link_to "Edit Account", edit_user_path(@user) %></li>
                </ul>
                <div class='row'>
                  <h5>Recently Added Links</h5>
                  <% @user.links.order("created_at DESC").each do |link| %>
                    <% if !link.library %>
                  <div class='col-md-12 userRecentLinks' id='<%= link.id %>'>
                    <div class='row'>
                      <div class='col-md-3'>
                        <a href="<%= link.url %>"><img src="<%= link.picture %>" width="60px" height='60px'></a>
                      </div>
                        <div class='col-md-9'>
                          <p><%= link.title.capitalize %></p>
                        </div>
                      </div>
                  </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>


      <div class='col-md-9 col-md-offset-1 longSection userLibraries'>
          <h3>Quick Add Links</h3>
        <div class='row'>
          <div class="col-md-5 col-md-offset-1">
            <%= form_for(@link, :html => { :class => "userForms"}, :url => links_path) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, :size => 40 %></br>
            <%= f.label :url %>
            <%= f.text_field :url, :size => 40 %></br>
              <%= fields_for @note do |n| %>
              <%= n.label :note %>
              <%= n.text_field :body, :size => 40 %></br>
              <% end %>
            <%= f.submit %>
            <% end %>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <%= form_for(@library, :html => { :class => "userForms"}, :url => user_libraries_path(@user)) do |f| %>
              <%= f.label :title %>
              <%= f.text_field :title, :size => 40 %></br>
              <%= f.label :description %>
              <%= f.text_field :description, :size => 40 %></br>
              <%= f.label :private %>
              <%= f.check_box :private, {:checked => false } %></br>
              <%= f.submit %>
              <% end %>
          </div>
        </div>
        <h3>My Top Libraries</h3>
        <div class='row'>
          <% @user.libraries.each do |library| %>
            <div class='col-md-4 libBox userTopLibraries' id='<%= library.id %>'>
              <a href="/users/<%= @user.id %>/libraries/<%= library.id %>">
              <h4><%= library.title %></h4>
              <p>"<%= library.description %>"</p>
              <p id='numLink'>Number of Links: <%= library.links.size %></p></a>
              <div id='responseMessage'></div>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>





<%# Library.select("private, false") do |library| %>
                <%#= library.title %>





