<div class="container">
  <div class="row">
    <h1><%= @library.title %></h1>
    <div class="row publicLibraries longSection">
      <% @library.links.each do |link| %>
        <div class='col-md-4 recentLinks linkBox'>
            <div class='row'>
              <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-4'>
                        <a href="<%=link.url %>"><img src="<%= link.picture %>" width="100px" height='100px'></a>
                    </div>
                    <div class='col-md-8'>
                      <h4>"<%= link.title %>"</h4>
                    </div>
                  </div>
              </div>
            </div>
            <div class='row linkNotes'>
              <div class='col-md-12'>
                <h5> What people are saying: </h5>
                <% link.notes.each do |note| %>
                  <p><a href='users/<%=note.user.id %>'><%= note.user.initials %></a>: "<%= note.body %>"</p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
