
<% @libraries.each do |library| %>
<div class='col-md-4 libBox'>
    <div class='row'>
      <div class='col-md-12 libInfo'>
        <a href='/libraries/<%= library.id %>'>
        <h4>Title: <%= library.title.capitalize %></h4></a>
        <h6>Description: <%= library.description %></h6>
        <p> Number of Links: <%= library.links.size %></p>
        <div class='responseDiv'></div>
        <% if !current_user %>
          <div class='addLibrary' id='<%= library.id %>'><button>Add!</button></div>
        <% elsif !@user.libraries.include?(library) %>
          <div class='addLibrary' id='<%= library.id %>'><button>Add!</button></div>
        <% end %>
    </div>
  </div>
</div>
<% end %>


<%# poplibs = @libraries.find_by_sql("SELECT library_id AS libs, COUNT(user_id) AS num_users FROM libraries_users GROUP BY library_id ORDER BY num_users DESC") %>
<!-- returns an array of ActiveRecord objects that meet the criteria set above -->


